.bt1{
  background-color: purple;
  border : none;
}
.bt2{
  background-color: rgb(35, 184, 60);
  border : none;
}
.bt3{
  background-color: rgb(223, 191, 51);
  border : none;
}
.btR{
  background-color: rgb(45, 101, 255);
  border : none;
}
/* :root {
    --primary: #8e24aa;
  }

  [data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #8e24aa;
  --primary-hover: #7b1fa2;
  --primary-focus: rgba(142, 36, 170, 0.125);
  --primary-inverse: #FFF;
}

  @media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
      --primary: #8e24aa;
      --primary-hover: #9c27b0;
      --primary-focus: rgba(142, 36, 170, 0.25);
      --primary-inverse: #FFF;
    }
  }
   */